@use '@/app/styles/helpers/mixins.scss' as func;

.MusicPlayerBox{
    @include func.flex-center($direction: none);
    .MusicPlayerButton{
        @include func.flex-center($direction: none, $gap: 2rem);
        @include func.glass-border();
        width: 20rem;
        height: 20rem;
        background-size: 20rem;
        opacity: 0.7;
    }
}