$header-main-color: #0d37599e;
$text-color: #FFFFFF;
$header-text-color: rgb(221, 171, 7);

$font-style-subtitle: "Knewavave";
$font-main: "Bangers";
$font-size-main: 1.8rem;
$font-size-title: 2rem;
$font-size_subtitle:1.5rem;

